:root {
    --soft-white: #f1f1f1;
    --green: #50DE71;
    --black: #3a4750;
    --dark: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--dark);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .container {
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
  }
  
  label {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--soft-white);
    border: unset;
    outline: unset;
  }
  
  button {
    width: 25%;
    padding: 20px;
    font-size: 20px;
    border: unset;
    outline: unset;
    color: white;
    background-color: var(--black);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--green);
    color: black;
  }
  
  .large {
    width: 50%;
  }
  
  .extraLarge {
    width: 75%;
  }