@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

div.conteudo {
    text-align: center;
    margin-top: 20%;
}

h1#titulo {
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
}
span#G1 {
    color: OrangeRed;
}
span#l {
    color: Limegreen;
}
span#e {
    color: Cornflowerblue;
}
span#g2 {
    color: Gold;
}
span#o1 {
    color: OrangeRed;
}
span#o2 {
    color: Cornflowerblue;
}

input#barraDePesquisa {
    border-radius: 50px;
    width: 600px;
    height: 25px;
    font-size: 20px;
}

button#botao {
    border-radius:25px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background: black;
    color: white;
}

    /* width = largura
    height = altura */