@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #C23434;

    font-family: 'Montserrat', sans-serif;
}

.circleDiv img {
    position: absolute;
    right: 0px;
    top: -4px;

    z-index: 1; 
}

.curveDiv img {
    position: absolute;
    max-width: 755px;
    left: 0px;
    top: 0px;

    z-index: 1;
}

.formDiv {
    position: relative;
    margin-top: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


input {
    width: 300px;
    height: 45px;
    margin-top: 15px;
    padding-left: 50px;

    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;

    background: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;

    z-index: 2;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: black;
    margin-left: 10px;
    font-size: 16px;
}

#user {
    background: url(https://cdn-icons.flaticon.com/png/512/2105/premium/2105556.png?token=exp=1642694760~hmac=adffa4628f396bf7e1b303bbaba2bc66);
    background-position-x: 9px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-size: 32px;
}

#senha {
    background: url(https://cdn-icons.flaticon.com/png/512/2889/premium/2889676.png?token=exp=1642694755~hmac=c7dd2b0c9bab3dbbb60934ddc2f4336a);
    background-position-x: 10px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 22px;
}

#senha:focus {
    font-size: 22px;
}

button {
    width: 300px;
    height: 40px;
    margin-top: 25px;

    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    border: none;
}

button:hover {
    cursor: pointer;
}

p {
    color: white;
    text-decoration-line: underline;
    margin-left: 150px;
}