@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{ 
  --new-blue: #00C2FF;}

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }
  
.title {
    padding: 20px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.page-title {
    position: absolute;
    top: 50px;
    
    color: #000000;
    margin: 0 0 5px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
  }
  
#quadrado-principal {
    position: absolute;
    top: 200px;
    width: 570px;
    height: 462px;

    background: #FCF9F9;
    border: 10px solid var(--new-blue);
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

#input-valor {
  position: absolute;
  margin-top: -250px;
}

#opcoes-inicial {
  position: absolute;
  margin-left: -315px;
  margin-top: -100px;
}

#opcoes-final {
  position: absolute;
  margin-left: 315px;
  margin-top: -100px;
}

#bandeira1 {
    position: absolute;
    margin-left: -255px;
    margin-top: -40px;
}

#bandeira1 img {
    width: 129px;
}

#bandeira2 {
  position: absolute;
  margin-left: 65px;
  margin-top: -40px;
}

#bandeira2 img {
  width: 129px;
}

input {
    width: 150px;
    height: 35px;

    border-color: #808080;
    border-radius: 5px;

    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: bolder;
  }
  
select {
    width: 180px;
    height: 30px;

    border-color: 10px solid #DAD2D8;
    border-radius: 5px;

    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}

#envio {
  position: absolute;
  margin-top: 350px;
  width: 150px;
  height: 35px;

  background-color: crimson;
  border: 0px;
}

#escreva {
  position: absolute;
  margin-top: 280px;
}