div {
    position:absolute;
    top: 50%;
    left: 47%;
    transform: translateY(-50%);
    transform: translateY(-50%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;

    background-color: transparent;
    border: 5px solid #C4C4C4;
    border-radius: 65px;
}

.switch input {display:none}

.slider::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    left: 2.5px;
    top: 3px;

    background-color: #c4c4c4;
    border-radius: 45px;
}

.shaders {
    position: absolute;
    top: -25px;
    bottom: 0;
    left: -25px;
    right: 0;

    cursor: pointer;

    background-color: transparent;
    border-radius: 65px;
}

.shaders:hover {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    left: -25px;
    top: -25px;

    background-color: rgba(196, 196, 196, 0.16);
    border-radius: 60px;

    transition: 0.3s;
}

input:checked + .slider {
    background-color: #6EF17B;
    border: 5px solid #6EF17B;
    transition: 0.3s;
}

input:checked + .slider::before {
    transform: translateX(50px);
    transition: 0.5s;
    background-color: white;
}

input:checked + .slider .shaders {
    transform: translateX(50px);
}

input:not(:checked) + .slider {
    transition: 0.3s;
}

input:not(:checked) + .slider::before {
    transform: translateX(0px);
    transition: 0.5s;
}

input:not(:checked) + .slider .shaders {
    transform: translateX(0px);
    transition: 0.5s;
}